@model HOSPITALMANAGEMENTSYSTEM.Models.Patients
@using HOSPITALMANAGEMENTSYSTEM.Models
@{
    ViewBag.Title = "AddPatient";
    Layout = "~/Views/Admin/AdminMaster.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addpatientview</title>
</head>
<body style="background-color: #f4f5e2">
    @using (Html.BeginForm("AddPatient", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <center>

            <h1 class="text-dark" style="margin-top:20px">Patient Registration</h1>
            <br />
            <div class="container-fluid">
                <div class="col-md-7" >
                    <div class="form-horizontal">
                        <div class="form-group">
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <b>PATIENT ID</b>
                                    @Html.EditorFor(model => model.PatId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PatId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>PATIENT NAME</b>
                                    @Html.EditorFor(model => model.PatName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PatName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>GENDER</b><br/>
                                    @Html.RadioButtonFor(e => e.Gender, "Male")Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.RadioButtonFor(e => e.Gender, "Female")Female                                   
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <b>BLOOD GROUP</b>
                                    @Html.DropDownListFor(model => model.bloodgrp, EnumHelper.GetSelectList(typeof(bgrp)), "Select", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.bloodgrp, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-4">
                                    <b>AGE</b>
                                    @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>ADDRESS</b>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">

                                <div class="col-md-4">
                                    <b>PHONE NUMBER</b>
                                    @Html.EditorFor(model => model.phonenumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.phonenumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>Email</b>

                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>PASSWORD</b>

                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="REGISTER" class="btn btn-dark" />
                                    <p style="color:red">@ViewBag.info</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            
        </center>
    }
    </body>
</html>






