@model IEnumerable<HOSPITALMANAGEMENTSYSTEM.Models.Patients>

@{
    ViewBag.Title = "ShowPatient";
    Layout = "~/Views/Admin/AdminMaster.cshtml";
}
<center>
    

    @if (!Model.Any())
    {
        <h1 style="color: red; text-align: center; margin-top: 100px">@ViewBag.info</h1>
    }
    else
    {
        <div style=" background-color: rgba(128,128,128,0.2);margin-top:20PX ">
            <h1 class="text-dark">PATIENTS</h1>

        </div>
        <br />
        <table class="table table-hover">
            <tr>
                <th>
                    PATIENT ID
                </th>
                <th>
                    PATIENT NAME
                </th>
                <th>
                    GENDER
                </th>
                <th>
                    ADDRESS
                </th>

                <th>
                    PHONE NUMBER
                </th>
                <th>
                    AGE
                </th>
                <th>
                    BLOOD GROUP
                </th>
                <th>
                    EMAIL
                </th>
                <th>
                    PASSWORD
                </th>

            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bloodgrp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>

                </tr>
            }

        </table>
    }

</center>



