@model HOSPITALMANAGEMENTSYSTEM.Models.Appointments

@{
    ViewBag.Title = "AddPrescription";
    Layout = "~/Views/Doctor/DoctorMaster.cshtml";
}

<h2>Add Prescription</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            APPOINTMENT ID
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppointmentId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AppointmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            PATIENT NAME
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatName, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            DISEASE
            <div class="col-md-10">
                @Html.EditorFor(model => model.disease, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.disease, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            DATE
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            TIME
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AppTime, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            DIAGNOSIS
            <div class="col-md-10">
                @Html.EditorFor(model => model.diagnosis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diagnosis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            MEDICINE
            <div class="col-md-10">
                @Html.EditorFor(model => model.medicine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.medicine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
